html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* for sidebar */
@import "~@trendmicro/react-sidenav/dist/react-sidenav.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.sidenav---sidenav---_2tBP {
  background-color: white;
}
.sidenav---navitem---9uL5T * {
  color: black !important;
  cursor: pointer;
}

.sidenav---navitem---9uL5T:hover {
  background-color: var(--lightgray);
}
.sidenav---navitem---9uL5T:hover * {
  color: var(--red) !important;
  cursor: pointer;
}

.sidenav---selected---1EK3y * {
  color: var(--red) !important;
}
.sidenav---selected---1EK3y {
  background-color: var(--lightgray);
}
.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: black;
}

.p-3 {
  padding: 1rem;
}

/* for the notification  */
@import "~react-notifications/lib/notifications.css";
